body{font:14px / 1.62 Consolas, Helvetica, arial, sans-serif;}
h1{font-family:Microsoft Yahei;}

.homePage{background:#FDFDFD;}
#home{
    background-image:-webkit-gradient(linear,left bottom,left top,from(#006598),to(#316AC5));
    background-image:-moz-linear-gradient(bottom,#006598,#316AC5);
    border: 1px solid #333333;
    box-shadow:5px 5px 15px #666;
    color: #FFFFFF;
    display: block;
    font-family: Microsoft Yahei;
    font-size: 30px;
    font-weight: bold;
    height: 200px;
    left: 50%;
    margin-left: -260px;
    margin-top: -120px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 2px #333333;
    top: 50%;
    width: 520px;
}
.homeTitle {font-size:40px;}
.door{color:#FF0099;margin-right:10px;text-decoration:none;font-size:26px;}
.door:hover{text-decoration:underline;}
#copyleft{color:#333;position:absolute;right:10px;bottom:20px;}

#wrap{width:700px;margin:20px auto;}

#info{margin-top:20px;text-align:right;}
    #info p{font-weight:bold;}
    #info .red{color:#F00;}
    #info .grayBg{background:#F7F7F7;border:1px solid #EEE;}

#fileList{width:700px;padding:0;}
    #fileList a{text-decoration:none;}
    #fileList a:hover{text-decoration:underline;}
    #fileList li{margin-bottom:2px;padding:5px;border:solid 1px #EEE;}
        #fileList .new a{color:#F00;}
        #fileList .today{background:#F7F7F7;}

