<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link type="text/css" rel="stylesheet" href="assets/css/style.css" />
        <script type="text/javascript" src="assets/js/fn.js"></script>
        <title>Compress Tool - All Mode</title>
    </head>
    <body>
    <div id="wrap">
        <h1>{{tpl:title}}Compress JS&CSS files</h1>
        <p><a href="http://localhost:8123">Back to the Home Page</a></p>
        <div id="info">
            <p>"<span class="red">Red color</span>" marks the file compressed just now.</p>
            <p>"<span class="grayBg">Gray background color</span>" marks the files comprssed today</p>
        </div>
        <div id="status">{{tpl:msg}}</div>
    </div>
    </body>
</html>
